<form [formGroup]="recipeForm" (submit)="onSubmit()">
<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name"
             formControlName="name"
             class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="image-path">Image URL</label>
      <input type="text" id="image-path"
             formControlName="imageUrl"
             #imageUrl
             class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img [src]="imageUrl.value" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" id="description" rows="6"
                formControlName="description"
                class="form-control"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" formArrayName="ingredients">
    <h3>Ingredients</h3>
    <div class="row"
         style="margin-bottom: 10px;"
         *ngFor="let ingredient of recipeForm.get('ingredients')['controls']; let i = index"
         [formGroupName]="i">
      <div class="col-xs-8">
        <input type="text"
               formControlName="name"
               class="form-control">
      </div>
      <div class="col-xs-2">
        <input type="number"
               formControlName="amount"
               class="form-control">
      </div>
      <div class="col-xs-2">
        <button class="btn btn-danger pull-right" type="button" (click)="onDeleteIngredient(i)">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="sr-only">Remove</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" type="button" (click)="onAddIngredient()">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="sr-only">Add</span>
        </button>
      </div>
    </div>
  </div>
</div>
</form>
